<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.john.travelinfo">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SplashDelayActivity"
        android:allowBackup="true"
        android:label="Trainpal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AvailableServicesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WaitingLobbyActivity"
            android:label="@string/title_activity_waiting_lobby" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RouteAnalysisActivity" />
        <activity android:name=".ReportActivity"></activity>
    </application>

</manifest>